<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Система доставки товаров</title>

    <link th:href="@{css/bootstrap-social.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="https://hb.bizmrg.com/antonshu/favicon.ico" type="image/x-icon"/>
</head>

<body>
<div class="container">
    <div th:replace="~{header :: header(Home)}"/>

    <h1>Личный кабинет</h1>
    <h2>Пользователь <span th:text="${user.firstName} + ' ' + ${user.lastName}">User</span></h2><br>


    <br>
    <br>
<!--    <div th:replace="~{footer :: footer}"/>-->
</div>
</body>
</html>